/* CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT */
/* header */
.body_box{
    background: var(--graphite, #272727);
}
.heder_about {
    background-color: var(--graphite, #272727);
}
.heder_about_contact{
    background-color: rgb(37 37 37);
}
.header-us{
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* section 1 */
.section_contact{
    position: relative;
    margin-top: 55px;
    padding: 24px 20px;
}
.contact_name{
    position: relative;
    color: var(--orange, #CD7829);
    font-family: Orbitron;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 32px;
}
.contact_section_conteiner{
    margin-bottom: 40px;
}
.about-us-picture{
    position: absolute;
    top: 0;
    left: 0;
width: 100%;
    height: auto;
}

.contact_item{
    
}
.address_social_contact{
    display: flex;
    flex-direction: column;
    color: #272727;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.06em;
    margin-bottom: 20px;
}
.address_link_contact{
    color: #272727;  
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.06em;
}
.adderss_icons_contact{
    display: flex;
    align-items: center;
} 
.address_list_contact:not(:last-child){
    margin-right: 24px;
}
.modal-form {
    margin-bottom: 10px;
}
.input-person{
    padding: 0px;
}
.name-text {
    display: block;
    margin-bottom: 4px;
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.06em;
}
.icon-person {
    width: 100%;
    height: 48px;
    padding:12px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.06em;
    color: #7C7777;
    outline: transparent;
    
}
.feedback {
    display: block;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.06em;
    color: #000;
    margin-bottom: 4px;
    
}
.feedback-textarea {
    width: 100%;
    height: 186px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    outline: transparent; 
    resize: none;
    padding: 12px;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing:0.06em;
}
.feedback-block{
    margin-bottom: 10px;
}
.modal-btn-send {
    display: block;
    width: 165px;
    height: 48px;
    text-align: center;
    padding: 12px 24px;
    border: none;
    background-color: var(--orange, #CD7829);
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}
.conteiner_contact_desctop{
    position: relative;
}