@media screen and (min-width: 1400px){
    /*HEADER*/
      .portfolio_wrapper{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: flex-start;

    }
    .portfolio_box{
        margin-right: 16px;
        
    }
    .portfolio_one{
        height: 720px;
    }
    .portfolio_card{
        height: 352px;
    }
    .portfolio_first{
        height: 712px;
    }
    .header {
        padding-top: 21px;
        padding-bottom: 21px;
    }
    .heder_svg{
        display: none;
    }
    .container_header{
        max-width: 1400px;
        padding-left: 119px;
        padding-right: 119px;

    }
    .heder_svg_desctop{
        display: flex;
        margin-right:330px;
    }
    .header__id{
        font-size: 20px;

    }
    .header__item:not(:last-child){
        margin-right: 36px;
    }
    .heder_nav{
        margin-right: 36px;
    }
    .name_lang_btn{
        font-size: 20px;
    }
    .header__id_black{
        font-size: 20px;
    }
    /*HERO*/
    .hero_name{
        font-size: 60px;
        letter-spacing: 0.05em;
    }
    .hero_block{
        min-width: 628px;
    }
    .hero_subtitle{
        font-size: 28px;
        letter-spacing: 0.03em;
    }
    .hero_button{
        font-size: 24px;
        letter-spacing: 0.04em;
        padding: 16px 32px;
    }
    .foto {
        padding-top: 288px;
        background-image:url(../images/desc/desc_hero_1x.jpg);
    }
    .is_scrolled .header_wrapper{
        padding-top: 21px;
        padding-bottom: 21px;
        z-index: 1;
    }
    /*SECTION 1*/
    .about{
        padding-left: 120px;
        padding-right: 120px;
    }
    .container_section_about{
        padding-left: 120px;
        padding-right: 120px;
        width: 651px;
        height: 680px;
        box-sizing: content-box;
    }
    .section_name{
        font-size: 60px;
        letter-spacing: 0.05em;
    }
  
    .section_about_text{
        font-size: 24px;
        letter-spacing: 0.04em;
    }
    .section_button{
        padding: 16px 32px;
        font-size: 24px;
        letter-spacing: 0.04em;
    }
    .about_section{
        background-image: url(../images/desc/desctop_about_1x.jpg);
        background-size: 1115px 680px;
    }
    .name_service{
        padding-top: 60px;
        font-size: 60px;
        letter-spacing: 0.05em;
    }
    .tablet_cont_with{
        width: 285px;
        height: 285px;
    }
    .service_list{
        gap: 28px 5px;
        justify-content: space-around;

    }
    .service_name{
        font-size: 20px;
        letter-spacing: 0.05em;
    }
    .foto_service_one{
        background-image: url(../images/desc/desctop_service1_1x.jpg);
    }
    .foto_service_two{
        background-image:  url(../images/desc/desctop_service2_1x.jpg);

    }
    .foto_service_three {
        background-image: url(../images/desc/desctop_service3_1x.jpg);
    }
    .foto_service_four {
        background-image:  url(../images/desc/desctop_service4_1x.jpg);
    }
    /*BENEFITS*/
    .benefits{
        padding-left: 120px;
        padding-right: 120px;
    }
    .benefits_name{
        font-size: 60px;
        letter-spacing: 0.05em;
    }
    .benefits_svg{
        display: none;
    }
    .benefits_svg_desktop{
        display: flex;
        padding-top: 60px;
        padding-bottom: 30px;
        box-sizing: content-box;
    
    }
    .benefits_item{
        width: 285px;
        height: 285px;
    }
    .benefits_list{
        gap:5px;
        justify-content: space-around;
    }
    .benefits_text{
        font-size: 20px;
        letter-spacing: 0.05em;
        width: 230px;
        height:auto;
        line-height: 1.6em; /* 160% */
        padding-bottom:60px;
    }
    /* BENEFITS */
    .portfolio_name{
        font-size: 60px;
        letter-spacing: 0.05em;
    }


    .portfolio_one{
        width: 720px;
        height: 720px;
    }
    .portfolio_wrapper{
        z-index: 0;
    }
    .portfolio_two_thre{
        width: 720px;
        height: 352px;
    }
    .portfolio_foto:not(:last-child){
        margin-bottom:10px;
    }
    /* FOOTHER */
    .footer_fedback_block{
        position: absolute;
        top: 43%;
        left: 50% ;
        transform: translate(-50%, -50%);
    }
    .foother-conteiner{
        position: relative;
        padding:  40px 120px;
    }
    .conteiner_address_icon_tab{
        padding-top: 0px;
    }
    .foother_link_svg{
        display: none;
    }
    .foother_link_desctop{
        display: flex;
        margin-bottom: 28px;
    }
    .foother_item:not(:last-child) {
        margin-bottom: 28px;
    }
    .foother_links {
        font-size: 20px;
        letter-spacing: 0.05em;
    }
    .name-text_tab{
        font-size: 20px;
        letter-spacing: 0.05em;
        margin-bottom: 12px;
    }
    .icon-person_tab{
        font-size: 20px;
        letter-spacing: 0.05em;
        width: 444px;
        height: 54px;
    }
    .modal-form_tab {
        margin-bottom: 16px;
    }
    .address_button{
        padding: 16px 32px;
        font-size: 24px;
        letter-spacing: 0.04em;
    }
    .address_contact{
        font-size: 20px;
        letter-spacing: 0.05em;
        margin-bottom:28px;
    }
    .address_social:not(:last-child){
        margin-bottom:28px;
    }
    .address_link{
        font-size: 20px;
    }
    .address {
        margin-bottom: 28px;
    }
    .foother_desctop_amster{
        display: flex;
        flex-direction: column;
    }
    .adderss_copyright{
        font-size: 20px;
        letter-spacing: 0.05em;
    }
    .foother_text{
        font-size: 20px;
        letter-spacing: 0.05em;
        max-width:610px;
    }
    .copyright_desctop{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .tab_conteiner_index {
        margin-bottom: 120px;
    }
    /* ABOUT */
    .section_about_back{
        padding-top: 98px;
    }
    .section_name_us{
        font-size: 60px;
        letter-spacing: 0.05em;
        margin-bottom:28px;
    }
    .about_block{
        font-size: 24px;
        letter-spacing: 0.04em;
        width: 560px;
        height: 192px;
        box-sizing: border-box;
        line-height: 32px;
    }
    .foto_tablet_about_us{
        background-size: 1115px 680px;
        background-image: url(../images/desc/about/desctop_about_us1_1x.jpg);
    }
    .about_foto{
        background-size: none; 
        background-image: none;
    }
    .section_block_mision{
        font-size: 24px;
        letter-spacing: 0.05em;

    }
    .foto_tab_about_mission {
        height: 774px;
        background-image: url(../images/desc/about/desctop_about_us2_1x.jpg);
        
    }
    .section_block{
        font-size: 23px;
        letter-spacing: 0.05em;
    }
    .container_section_about_mission{
        padding-right: 120px;
        width: 771px;
        height: 774px;
    }
    .mission_tab_section_choose {
        background-image: url(../images/desc/about/desctop_about_us3_1x.jpg);
    }
    .container_section_about_chose{
        padding-left: 120px;
        padding-right: 0px;
        width: 771px;
        height: 795px;
    }
    .items_section_block{
        height: 512px;
        box-sizing: border-box;
        line-height: 32px;    
    }
    .items_section_block_two{
        height: 672px;
        box-sizing: border-box;
        line-height: 32px;
    }
    .mission_foto{
        background-size: 771px 795px;
    }
    .about_block{
        max-width: 558px;
    }
    .section_block:not(:last-child) {
        margin-bottom: 15px;
    }
    /* 404 */
    .eror_name {
        font-size: 200px;
        letter-spacing: 0.006em;
    }
    
    .text_name {
        font-size: 24px;
        letter-spacing: 0.04em;
    }
    .text_name_parahrafs{
        width: 506px;
        font-size: 24px;
        letter-spacing: 0.04em;
    }
    .text_name_parahraf{
        width: 506px;
        font-size: 24px;
        letter-spacing: 0.04em;
    }
    .eror_conteiner {
        height: auto;
        background-image: url(../images/desc/eror/desctop_eror_1x.jpg);
        margin-top: 72px;
        padding: 60px 120px 256px;
    }
    .eror_button {
        padding: 16px 32px;
        font-size: 24px;
        letter-spacing: 0.04em;
    }
    
    /* REVIEW */
    .tab_box_review {
        margin-top: 98px;
    }
    .container {

        padding-left: 120px;
        padding-right: 120px;
    }
    .reviews_section {
        padding: 40px 0 60px 0;
    }
    .reviews_name {
        font-size: 60px;
        letter-spacing: 0.05em;
        margin-bottom: 60px;
    }
    .section_button_reviews {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        height: 64px;
        padding: 16px 32px;
        font-size: 24px;
        letter-spacing: 0.04em;
    }
    /* REVIEW MODAL*/
    .review_modal {
        padding: 40px;
        width: 850px;
    }
    .write_menu_name {
        font-size: 48px;
        letter-spacing: 0.06em;
    }
    .review_text {
        gap: 14px;
    }
    .mob_close_button_review {
        padding: 10px;
        top: 30px;
        right: 104px;
    }
    .review_text {
        margin-bottom: 28px;
    }
    .review_label_name {
        font-size: 24px;
        letter-spacing: 0.04em;
        margin-bottom: 12px;
    }
    .review_label_text {
        font-size: 20px;
        letter-spacing: 0.05em;
    }
    .modal_button_reviews_send {
        font-size: 24px;
        letter-spacing: 0.05em;
        padding: 16px 32px;
    }
    .upload_file_box{
        margin-bottom: 28px;
    }
    /* CONTACT */
    .section_contact {
        background-image: url(../images/desc/eror/desctop_eror_1x.jpg);
        margin-top: 98px;
        padding: 40px 120px 60px;
    }
    .contact_name {
        font-size: 60px;
        letter-spacing: 0.05em;
        margin-bottom: 60px;
    }
    .conteiner_contact_desctop{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .address_social_contact {
        font-size: 24px;
        margin-bottom: 20px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    .address_link_contact {
        font-size: 24px;
        letter-spacing: 0.05em;
        margin-left: 0px;
    }
    .contact_item{
        width: 346px;
    }
    .name-text {
        font-size: 20px;
        letter-spacing: 0.06em;
    }
    .icon-person {
        font-size: 20px;
        letter-spacing: 0.06em;
    }
    .feedback-textarea {
        font-size: 20px;
        letter-spacing: 0.06em;
    }
    .feedback {
        font-size: 20px;
        letter-spacing: 0.06em;
        margin-bottom: 8px;
    }
    .modal-form {
        margin-bottom: 16px;
    }
    .feedback-block {
        margin-bottom: 16px;
    }
    .modal-btn-send {
        display: flex;
        width: 336px;
        height: 48px;
        padding: 16px 32px;
        font-size: 24px;
        letter-spacing: 0.04em;
        align-items: center;
        justify-content: center;
    }

    @media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx){
    .foto {
        background-image: url(../images/desc/desc_hero_2x.jpg);
    }
    .about_section {
        background-image: url(../images/desc/desctop_about_2x.jpg);
    }
    .foto_service_one{
        background-image: url(../images/desc/desctop_service1_2x.jpg);
    }
    .foto_service_two {
        background-image: url(../images/desc/desctop_service2_2x.jpg);
    }
    .foto_service_three {
        background-image: url(../images/desc/desctop_service3_2x.jpg);
    }
    .foto_service_four {
        background-image: url(../images/desc/desctop_service4_2x.jpg);
    }
    .foto_tablet_about_us{
        background-image: url(../images/desc/about/desctop_about_us1_2x.jpg);
    }
}

    

@media (min-device-pixel-ratio: 3),
(min-resolution: 300dpi),
(min-resolution: 3dppx){
    .foto {
        background-image: url(../images/desc/desc_hero_4x.jpg);
    }
    .about_section {
        background-image: url(../images/desc/desctop_about_4x.jpg);
    }
    .foto_service_one{
        background-image: url(../images/desc/desctop_service1_4x.jpg);
    }
    .foto_service_two {
        background-image: url(../images/desc/desctop_service2_4x.jpg);
    }
    .foto_service_three {
        background-image: url(../images/desc/desctop_service3_4x.jpg);
    }
    .foto_service_four {
        background-image: url(../images/desc/desctop_service4_4x.jpg);
    }

}
}