@media screen and (min-width: 1400px){
    /*HEADER*/
    .header {
        padding-top: 21px;
        padding-bottom: 21px;
    }
    .heder_svg{
        display: none;
    }
    .container_header{
        max-width: 1400px;
        padding-left: 119px;
        padding-right: 119px;

    }
    .heder_svg_desctop{
        display: flex;
        margin-right:330px;
    }
    .header__id{
        font-size: 20px;

    }
    .header__item:not(:last-child){
        margin-right: 36px;
    }
    .heder_nav{
        margin-right: 36px;
    }
    .name_lang_btn{
        font-size: 20px;
    }
    /*HERO*/
    .hero_name{
        font-size: 60px;
        letter-spacing: 0.05em;
    }
    .hero_block{
        min-width: 628px;
    }
    .hero_subtitle{
        font-size: 28px;
        letter-spacing: 0.03em;
    }
    .hero_button{
        font-size: 24px;
        letter-spacing: 0.04em;
        padding: 16px 32px;
    }
    .foto {
        padding-top: 288px;
        background-image:url(../images/desc/desc_hero_1x.jpg);
    }
    .is_scrolled .header_wrapper{
        padding-top: 21px;
        padding-bottom: 21px;
        z-index: 1;
    }
    /*SECTION 1*/
    .about{
        padding-left: 120px;
        padding-right: 120px;
    }
    .container_section_about{
        padding-left: 120px;
        padding-right: 120px;
        width: 558px;
        height: 680px;
        box-sizing: content-box;
    }
    .section_name{
        font-size: 60px;
        letter-spacing: 0.05em;
    }
  
    .section_about_text{
        font-size: 24px;
        letter-spacing: 0.04em;
    }
    .section_button{
        padding: 16px 32px;
        font-size: 24px;
        letter-spacing: 0.04em;
    }
    .about_section{
        background-image: url(../images/desc/desctop_about_1x.jpg);
        background-size:auto;
    }
    .name_service{
        padding-top: 60px;
        font-size: 60px;
        letter-spacing: 0.05em;
    }
    .tablet_cont_with{
        width: 285px;
        height: 285px;
    }
    .service_list{
        gap: 28px 5px;
    }
    .service_name{
        font-size: 20px;
        letter-spacing: 0.05em;
    }
    .foto_service_one{
        background-image: url(../images/desc/desctop_service1_1x.jpg), lightgray 50%, rgba(0, 0, 0, 0.00) 0%, #151515 75.95%;
    }
    .foto_service_two{
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #151515 75.95%), url(../images/desc/desctop_service2_1x.jpg);

    }
    .foto_service_three {
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #151515 75.95%), url(../images/desc/desctop_service3_1x.jpg);
    }
    .foto_service_four {
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #151515 75.95%), url(../images/desc/desctop_service4_1x.jpg);
    }
    /*BENEFITS*/
    .benefits{
        padding-left: 120px;
        padding-right: 120px;
    }
    .benefits_name{
        font-size: 60px;
        letter-spacing: 0.05em;
    }
    .benefits_svg{
        display: none;
    }
    .benefits_svg_desktop{
        display: flex;
        padding-top: 60px;
        padding-bottom: 30px;
        box-sizing: content-box;
    
    }
    .benefits_item{
        width: 285px;
        height: 285px;
    }
    .benefits_list{
        gap:5px;
    }
    .benefits_text{
        font-size: 20px;
        letter-spacing: 0.05em;
        width: 230px;
        height:auto;
        line-height: 1.6em; /* 160% */
        padding-bottom:60px;
    }
    /* BENEFITS */
    .portfolio_name{
        font-size: 60px;
        letter-spacing: 0.05em;
    }


    .portfolio_one{
        width: 720px;
        height: 720px;
    }
    .portfolio_wrapper{
        z-index: 0;
    }
    .portfolio_two_thre{
        width: 720px;
        height: 352px;
    }
    .portfolio_foto:not(:last-child){
        margin-bottom:10px;
    }
    /* FOOTHER */
    .footer_fedback_block{
        position: absolute;
        top: 323%;
        left: 34%;
    }
    .foother_conteiner{
        padding:  40px 120px;
    }
    .conteiner_address_icon_tab{
        padding-top: 0px;
    }
    .foother_link_svg{
        display: none;
    }
    .foother_link_desctop{
        display: flex;
        margin-bottom: 28px;
    }
    .foother_item:not(:last-child) {
        margin-bottom: 28px;
    }
    .foother_links {
        font-size: 20px;
        letter-spacing: 0.05em;
    }
    .name-text_tab{
        font-size: 20px;
        letter-spacing: 0.05em;
        margin-bottom: 12px;
    }
    .icon-person_tab{
        font-size: 20px;
        letter-spacing: 0.05em;
        width: 444px;
        height: 54px;
    }
    .modal-form_tab {
        margin-bottom: 16px;
    }
    .address_button{
        padding: 16px 32px;
        font-size: 24px;
        letter-spacing: 0.04em;
    }
    .address_contact{
        font-size: 20px;
        letter-spacing: 0.05em;
        margin-bottom:28px;
    }
    .address_social:not(:last-child){
        margin-bottom:28px;
    }
    .address_link{
        font-size: 20px;
    }
    .address {
        margin-bottom: 28px;
    }
    .foother_desctop_amster{
        display: flex;
        flex-direction: column;
    }
    .adderss_copyright{
        font-size: 20px;
        letter-spacing: 0.05em;
    }
    .foother_text{
        font-size: 20px;
        letter-spacing: 0.05em;
        max-width:610px;
    }
    .copyright_desctop{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .tab_conteiner_index {
        margin-bottom: 120px;
    }
}