body {
    margin: 0;
    background-color: var(--graphite, #272727);
}
.list {
    list-style: none;}
.link {
    text-decoration: none;}
h1, h2, h3, h4, h5, h6, p {
margin: 0;  
    }
ul {
        padding-left: 0;
        margin: 0;
        list-style-type: none;
    }
button {
        cursor: pointer;
    }
address{
        font-style: normal;
    }
a{
    text-decoration: none;
}
img {
        max-width: 100%;
        height: auto;
        display: block;
    }

*,
*::before,
*::after {
    box-sizing: border-box;
}
:root {
--poppins-font:'Poppins', sans-serif;
--orbitron-font: 'Orbitron', sans-serif;
--ralway-font: 'Raleway', sans-serif;
--graphite: #272727;
--graphite-hover:#CD7829;
--orange: #CD7829;
--white: #EEE;
}
    .container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}



.body_box{
    background-color: var(--graphite, #272727);
}

/* HEADER */

.header{
    margin: 0 auto;
    background-color: var(--graphite, #272727);
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 3;
}
.heder_about {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    transition: background-color 0.3s ease;
    z-index: 2;
    background-color: var(--graphite, #272727);
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;}
.is-scrolled{
    z-index:3;
}
.container_header{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 393px;
    padding-left: 32px;
    padding-right: 32px;
    margin: 0 auto;
    width: 100vw;
}
.heder_svg_desctop{
    display: none;
}
/* Прихована меню */
 .heder_nav {
    display: none;
} 
.header__button{
    border: none;
    stroke: #2E2F42;
    background-color: transparent;
    margin-left: auto;
    position: absolute;
    top: 10px;
    right: 32px;
}
.name_lang_list{
    display: none;
}
/* mob_menu */
.mob-menu {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    
    position: fixed;
    top: 0px;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: var(--graphite, #272727);
    padding: 40px 20px ;
}
.mobil_button{
    width: 308px;
}

.mob-close-button{
    border: none;
    background-color: transparent;
    width: 20px;
    height: 20px;
    
}
.name-lang-mob{
    gap: 40px;
    margin-bottom: 80px;
    position: absolute;
    bottom: 0;
    display: flex;
}
.mob-menu-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    
}
.mob-menu-item:hover{
    color: var(--graphite-hover);
    text-decoration: underline;
    
}
.mob-menu-item{
    color: var(--white, #EEE);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    
}
.mob-menu-items:not(:last-child){
    margin-bottom: 20px;
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.active{
    color: #CD7829;
}
.name-lang-item-mob:active{
    transform: scale(0.9);
}
.name-lang-item-mob:last-child{
    display: flex;
    align-items: center;
}
.name-lang-btn-mob{
    padding: 10px 30px;
    display: flex;
    border: solid 1px;
    border-radius: 20px;
    background: transparent;
    color: var(--white, #EEE);
    font-size: 12px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    align-items: center;
    flex-direction: row;
}

/* .name-lang-btn-mob:first-child::after {
    content: "";
    width: 16px;
    height: 1px;
    background-color: #EEE;
    display: block;
    transform: rotate(90deg);
} */
.name-lang-btn-mob:hover, .name-lang-btn-mob:focus {
    background-color: var(--orange, #CD7829);
    border-color: var(--graphite-hover);
}
.name_lang_btn:active{
    transform: scale(0.9);
}
.container-section{
    padding-top: 56px;
}
/* SECTION 1*/
.hero-name{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--orange);
    padding: 40px 0;
    text-align: center;
}
/* SECTION 2*/
.section-batrums{
    margin-bottom: 20px;
}
.portfolio-img{
    width: 100%;
}
.portfolio-foto{
    position: relative;
    margin-bottom: 16px;

}
.portfolio-text {
    background: linear-gradient(to bottom right, #2B2B2B 30%, rgba(39, 39, 39, 0.00) 50%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, #2B2B2B 30%, rgba(39, 39, 39, 0.00) 50%) bottom left / 50% 50% no-repeat, linear-gradient(to top left, #2B2B2B 30%, rgba(39, 39, 39, 0.00) 50%) top left / 50% 50% no-repeat, linear-gradient(to top right, #2B2B2B 30%, rgba(39, 39, 39, 0.00) 50%) top right / 50% 50% no-repeat;
    color: var(--white, #EEE);
    text-align: center;
    font-family: Orbitron;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.foto-block{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 16px;
}
.foto-block-reverse{
    /* display: flex; */
    /* max-height: 324px; */
    height: 324px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    gap: 16px;
    margin-bottom: 16px;
    margin-top: 16px;

}
.block-one{
    width: 47vw;
    height: 47.5%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
.block-one.full-width{
    width: 100%;
    height: 100%;
}
.block-one img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.block-two{
    position: relative;
    width: 49vw;
    height: 355px;
    background-repeat: no-repeat;
    background-size: cover;
}
.block-two img{
    width: 100%;
    height:100%;
    object-fit: cover;
}
.button-batrooms{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.06em;
    background-color: transparent;
    color: var(--white, #EEE);
    border: 2px solid var(--orange);
    padding: 12px 24px;
    width: 100%;
    height: 48px;
}
.button-batrooms:hover{
    background-color: var(--orange);
}
.button-batrooms:active{
    transform: scale(0.98);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 .block-text {
    height: 45px;
    width: 101%;
    display: flex;
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.06em;
    color: var(--white);
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #151515 75.95%);
   
}
/* FOOTHER */
.foother_link_desctop{
    display: none;
}
.foother_conteiner{
    position: relative;
    padding: 28px 20px;
    /* background: url(), lightgray 50% / cover no-repeat; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.70),rgba(0, 0, 0, 0.70)), url(../images/mob/foother_1x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* Щоб не тягнулась */
    /* max-width: 390px ;
       margin: 0 auto; */
}
.foother-filter{
    position: relative;
    z-index: 1;
    padding: 28px 20px;
    background-color: rgba(0, 0, 0, 0.70);
}
.foother_blok_one{
    margin-bottom: 28px;
}
.foother_link{
    margin-bottom: 20px;
}
.foother_item:not(:last-child){
    margin-bottom: 20px;
}
.foother_links{
    color: var(--white, #EEE);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
}
.address{
    margin-bottom: 20px;
}
.address_contact{
    color: var(--orange, #CD7829);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.address_social:not(:last-child){
    margin-bottom: 20px;
}
.address_link{
    color: var(--white, #EEE);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
}
.adderss_icons{
    display: flex;
    align-items: center;
}
.address_list:not(:last-child) {
    margin-right: 24px;
}
.address_button{
    margin: 28px 0;
    padding:12px 24px;
    background: var(--orange);
    border: none;
    color: var(--white, #EEE);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;
}
.address_button:active{
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(0.9);
}
.button-consu{
    margin: 28px 0;
    padding:12px 24px;
    background: var(--orange);
    border: none;
    color: var(--white, #EEE);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;
}
.button-consu:hover{
    background: transparent;
}
.button-consu:active{
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(0.9);
}
.adderss_copyright{
    color: var(--orange, #CD7829);
    font-family: Poppins;
    font-size: 12px;
    line-height: normal;
    letter-spacing: 0.08em;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.adderss_copyright_svg{
    margin: 0 8px 0 10px;
}
.foother_text{
    max-width: 214px;
    color: var(--white, #EEE);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
}


.foother_blok_index{
    flex-direction: column;
    align-items: center;
}
.feedback_name_index{
    display: none;
}
.modal-icon_tab{
    display: none;
}
.modal-form_tab{
    display: flex;
    flex-direction: column;
    margin-bottom: 6px;
    

}
.name-text_tab{
    display: block;
    color: var(--white, #EEE);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}
.icon-person_tab{
    padding: 12px;
    color: #7C7777;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.06em;
    width: 100%;
    height: 48px;
}
.copyrighte{
    margin-left: 10px;
    margin-right: 8px;
}
/* LANGVIGE */
.active{
    background: var(--orange);
    border-color: var(--graphite-hover);
}
.apply-styles{
    margin-bottom: 14px;
}
.portfolio-item {
    cursor: pointer;
    /* Ваші стилі для блоків */
}
.portfolio-item-link{
   text-decoration: none;
   display: block;
   height: 100%;
}
   
  @media screen and (max-width: 320px){
    .portfolio-text{
        font-size: 24px;
    }
}
  
  
@media screen and (min-width: 768px){
    .block-one{
        width: 48.5vw;
        height: 264px;
    }
    .block-one.full-width{
        height: 100%;
    }
    .block-one.full-width .block-text{
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #151515 90.95%);
    }
    .block-two {
        position: relative;
        width: 48.5vw;
        height: 544px;
        
    }
    .foto-block-reverse{
        height: 544px;
    }

    .hero-name{
        font-size: 48px;
        letter-spacing: 0.06em;
    }
    .portfolio-text {   
        font-size: 48px;
        letter-spacing: 0.06em;
    }
    .block-text{
        font-size: 24px;
        height: 70px;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #151515 65.95%);
    }
    .project-h{
        font-size: 48px;
        letter-spacing: 0.06em;
        padding: 60px 0 40px 0;
    }
    .text-block-ul{
        font-size: 20px;
        letter-spacing: 0.06em;
      }
      .block-li {
        margin-bottom: 30px;
    }
    .picture-menu-block {
        max-width: 376px;
        height: 300px;
    }
    .picture-block-ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 16px;
        flex-direction: row;
    }
    .picture-menu-block {
        margin-bottom: 0px;
    }
}
@media screen and (min-width: 1400px){
    .foto-block{
        height: 674px;
    }
    .block-one.full-width{
        height: 100%;
    }
    .block-one{
        width: 39vw;
        min-height: 329px;
    }
    .block-two {
        position: relative;
        width: 60vw;
        height: 674px;
        
    }
    .foto-block-reverse{
        height: 674px;
    }
    .block-text{
        font-size: 26px;
    }
    .hero-name{
        font-size: 60px;
        letter-spacing: 0.05em;
    }
    .portfolio-text {   
        font-size: 60px;
        letter-spacing: 0.05em;
        
    }
    .button-batrooms {
        font-weight: 600;
        font-size: 24px;
        line-height: 133%;
        letter-spacing: 0.04em;
        height: 64px;
    }

    .project-h{
        font-size: 60px;
        letter-spacing: 0.05em;
        padding: 60px 0 40px 0;
    }
    .text-block-ul {
        font-size: 24px;
        letter-spacing: 0.04em;
    }
    .text-block-ul {
        padding: 20px 100px;
    }
    .picture-menu-block {
        max-width: 689px;
        height: 429px;
    }
}




