.reviews_section{
    background-color: var(--graphite, #272727);
    padding: 20px 0 40px 0;
}
.section_button_reviews{
    display: block;
    padding: 12px 24px;
    background-color: transparent;
    border: 2px solid var(--orange, #CD7829);
    margin-bottom: 36px;
    color: var(--white, #EEE);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;
    background-color: transparent;
    margin-left: auto;
    margin-top: 74px;

}
.button_reviews{
    margin: 0 auto 0 0;
}
.button_reviews_cont{
    display: flex;
    flex-direction: row-reverse;
    
}
.reviews_name{
    color: var(--white, #EEE);
    font-family: Orbitron;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 36px;
}
.button_reviews_load{

}
.review_modal{
    background-color: #FFF;
    padding: 24px 20px;
    /* width: 350px; */
    width: calc(100% - 40px);
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translate(-50%);
    min-height: 797px;
}

.upload_file{
    width: 138px;
    height: 139px;
}
.review_write{
     
}
.is-hided {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.mob_menu_review {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: var(--fill-60, rgba(39, 39, 39, 0.60));
}
.write_menu_name{
    color: var(--orange, #CD7829);
    text-align: center;
    font-family: Orbitron;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 767px){
    .write_menu_name {
        max-width: 310px;
        margin-left: auto;
        margin-right: auto;
    }
}
.review_text{
    margin-bottom: 14px;
}
.upload_file_box{
    margin-bottom: 14px;
}

.review_label_name{
    color: var(--graphite, #272727);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.mob_close_button_review {
    border: none;
    background-color: transparent;
    display: flex;
    position: absolute;
    top: 24px;
    right: 20px;
}
.review_label_text{
    padding: 12px;
    color: var(--grey-text, #7C7777);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.06em;
    border: 1px solid var(--grey-text, #7C7777);
}
.review_form{
    display: flex;
    flex-direction: column;
}
.review_form:not(:last-child) {
    margin-bottom: 14px;
}
.textarea_review{
    resize: none;
    height: 240px;
    border: 1px solid var(--grey-text, #7C7777);
}
.modal_button_reviews_send{
    background-color: var(--orange, #CD7829);
    color: var(--white, #EEE);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.06em;
    border: none;
    padding: 12px 24px ;
}