VITE_EMAILJS_PUBLIC_KEY=
VITE_EMAILJS_SERVICE_ID=
VITE_EMAILJS_CONSULTATION_TEMPLATE_ID=
VITE_EMAILJS_CONTACT_TEMPLATE_ID=

VITE_STRAPI_BASE_URL=https://krupinets-bouw-admin.onrender.com/api
VITE_STRAPI_TOKEN=
