# dependencies
node_modules

# build output
dist
dist-ssr
coverage
*.tsbuildinfo

# env
.env
.env.local

# editor
.vscode/*
!.vscode/extensions.json
.idea

# logs
*.log
npm-debug.log*

# os
.DS_Store
Thumbs.db

*.local
