body {
    margin: 0;
    background-color: var(--graphite, #272727);
}
.list {
    list-style: none;}
.link {
    text-decoration: none;}
h1, h2, h3, h4, h5, h6, p {
margin: 0;  
    }
ul {
        padding-left: 0;
        margin: 0;
        list-style-type: none;
    }
button {
        cursor: pointer;
    }
address{
        font-style: normal;
    }
a{
    text-decoration: none;
}
img {
        max-width: 100%;
        height: auto;
        display: block;
    }

*,
*::before,
*::after {
    box-sizing: border-box;
}
:root {
--poppins-font:'Poppins', sans-serif;
--orbitron-font: 'Orbitron', sans-serif;
--ralway-font: 'Raleway', sans-serif;
--graphite: #272727;
--graphite-hover:#CD7829;
--orange: #CD7829;
--white: #EEE;
}
    .container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}



.body_box{
    background-color: var(--graphite, #272727);
}

/* HEADER */

.heder_about {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    transition: background-color 0.3s ease;
    z-index: 2;
    background-color: var(--graphite, #272727);
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
}

.is-scrolled{
    z-index:3;
}
.container_header{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 393px;
    padding-left: 32px;
    padding-right: 32px;
    margin: 0 auto;
    width: 100vw;
}
.heder_svg_desctop{
    display: none;
}
/* Прихована меню */
 .heder_nav {
    display: none;
} 
.header__button{
    border: none;
    stroke: #2E2F42;
    background-color: transparent;
    margin-left: auto;
    position: absolute;
    top: 10px;
    right: 32px;
}
.name_lang_list{
    display: none;
}
/* mob_menu */
.mob-menu {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    
    position: fixed;
    top: 0px;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: var(--graphite, #272727);
    padding: 40px 20px ;
}
.mobil_button{
    width: 308px;
}
.mobil_buttons{
    
}
.mob-close-button{
    border: none;
    background-color: transparent;
    width: 20px;
    height: 20px;
    
}
.name-lang-mob{
    gap: 40px;
    margin-bottom: 80px;
    position: absolute;
    bottom: 0;
    display: flex;
}
.mob-menu-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    
}
.mob-menu-item:hover{
    color: var(--graphite-hover);
    text-decoration: underline;
    
}
.mob-menu-item{
    color: var(--white, #EEE);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    
}
.mob-menu-items:not(:last-child){
    margin-bottom: 20px;
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.active{
    color: #CD7829;
}
.name-lang-item-mob:active{
    transform: scale(0.9);
}
.name-lang-item-mob:last-child{
    display: flex;
    align-items: center;
}
.name-lang-btn-mob{
    padding: 10px 30px;
    display: flex;
    border: solid 1px;
    border-radius: 20px;
    background: transparent;
    color: var(--white, #EEE);
    font-size: 12px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    align-items: center;
    flex-direction: row;
}

/* .name-lang-btn-mob:first-child::after {
    content: "";
    width: 16px;
    height: 1px;
    background-color: #EEE;
    display: block;
    transform: rotate(90deg);
} */
.name-lang-btn-mob:hover, .name-lang-btn-mob:focus {
    background-color: var(--orange, #CD7829);
    border-color: var(--graphite-hover);
}
.name_lang_btn:active{
    transform: scale(0.9);
}
.container-section{
    padding-top: 56px;
}

.project-h{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--orange);
    padding: 60px 0 40px 0;
    text-align: center;
  }
  .pictures{
    width: 100%;
  }
  .text-block-ul{
    padding: 20px 40px;
    font-family: var(--font-family);
    
    font-size: 16px;
    letter-spacing: 0.06em;
    color: var(--white);
    margin-bottom: 20px;
  }
  .block-li{
    margin-bottom: 20px;
  }
  .hero-text-li{
    font-weight: 600;
    margin-bottom: 6px;
  }
  .text-li{ 
    font-weight: 400;
    margin-bottom: 4px;
  }
  .sss{
    list-style-type: disc;
     margin-left: 30px;
  }
  .picture-block-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  .picture-menu-block{
    width: 100vw;
    margin-bottom: 10px;
  }
  .picture-menu-block img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /* FOOTHER */
.foother_link_desctop{
    display: none;
}
.foother_conteiner{
    position: relative;
    padding: 28px 20px;
    /* background: url(), lightgray 50% / cover no-repeat; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.70),rgba(0, 0, 0, 0.70)), url(../images/mob/foother_1x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* Щоб не тягнулась */
    /* max-width: 390px ;
       margin: 0 auto; */
}
.foother-filter{
    position: relative;
    z-index: 1;
    padding: 28px 20px;
    background-color: rgba(0, 0, 0, 0.70);
}
.foother_blok_one{
    margin-bottom: 28px;
}
.foother_link{
    margin-bottom: 20px;
}
.foother_item:not(:last-child){
    margin-bottom: 20px;
}
.foother_links{
    color: var(--white, #EEE);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
}
.address{
    margin-bottom: 20px;
}
.address_contact{
    color: var(--orange, #CD7829);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.address_social:not(:last-child){
    margin-bottom: 20px;
}
.address_link{
    color: var(--white, #EEE);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
}
.adderss_icons{
    display: flex;
    align-items: center;
}
.address_list:not(:last-child) {
    margin-right: 24px;
}
.address_button{
    margin: 28px 0;
    padding:12px 24px;
    background: var(--orange);
    border: none;
    color: var(--white, #EEE);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;
}
.address_button:active{
    transform: scale(0.9);
}
.button-consu{
    margin: 28px 0;
    padding:12px 24px;
    background: var(--orange);
    border: none;
    color: var(--white, #EEE);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;
}
.button-consu:active{
    transform: scale(0.9);
}
.adderss_copyright{
    color: var(--orange, #CD7829);
    font-family: Poppins;
    font-size: 12px;
    line-height: normal;
    letter-spacing: 0.08em;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.adderss_copyright_svg{
    margin: 0 8px 0 10px;
}
.foother_text{
    max-width: 214px;
    color: var(--white, #EEE);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
}


.foother_blok_index{
    flex-direction: column;
    align-items: center;
}
.feedback_name_index{
    display: none;
}
.modal-icon_tab{
    display: none;
}
.modal-form_tab{
    display: flex;
    flex-direction: column;
    margin-bottom: 6px;
    

}
.name-text_tab{
    display: block;
    color: var(--white, #EEE);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}
.icon-person_tab{
    padding: 12px;
    color: #7C7777;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.06em;
    width: 100%;
    height: 48px;
}
.foother-conteiner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.70),rgba(0, 0, 0, 0.70)), url(/images/mob/foother_1x.jpg);
    background-size: cover;
}
.copyrighte{
    margin-left: 10px;
    margin-right: 8px;
}
/* LANGVIGE */
.active{
    background: var(--orange);
    border-color: var(--graphite-hover);
}
.apply-styles{
    margin-bottom: 14px;
}
.portfolio-item {
    cursor: pointer;
    /* Ваші стилі для блоків */
  }

  @media screen and (min-width: 768px){
    .project-h{
        font-size: 48px;
        letter-spacing: 0.06em;
        padding: 80px 0 40px 0;
    }
    .text-block-ul{
        font-size: 20px;
        letter-spacing: 0.06em;
      }
      .block-li {
        margin-bottom: 30px;
    }
    .picture-menu-block {
        max-width: 48.8vw;
        height: 300px;
    }
    .picture-block-ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 16px;
        flex-direction: row;
    }
    .picture-menu-block {
        margin-bottom: 0px;
    }
}
@media screen and (min-width: 1400px){

    .project-h{
        font-size: 60px;
        letter-spacing: 0.05em;
        padding: 100px 0 40px 0;
    }
    .text-block-ul {
        font-size: 24px;
        letter-spacing: 0.04em;
    }
    .text-block-ul {
        padding: 20px 100px;
    }
    .picture-menu-block {
        max-width: 49.2vw;
        height: 429px;
    }
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx){
    .foother-conteiner{
        background-image: linear-gradient(rgba(0, 0, 0, 0.70),rgba(0, 0, 0, 0.70)), url(/images/mob/foother_2x.jpg);
    }

}
@media (min-device-pixel-ratio: 3),
(min-resolution: 300dpi),
(min-resolution: 3dppx){
    .foother-conteiner{
        background-image: linear-gradient(rgba(0, 0, 0, 0.70),rgba(0, 0, 0, 0.70)), url(/images/mob/foother_4x.jpg);
    }

}