@media screen and (min-width: 768px){
    /* HEADER */
    .header{
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;
        background-color: transparent;
        transition: background-color 0.3s ease;
    }
   .is-scrolled {
    background-color: rgb(218, 218, 218); /* Напівпрозорий чорний колір при скролі */
      }
    .header-us{
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;
    }
    .heder_about {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .header__button{
        display: none;}
    .container_header{
        display: flex;
        max-width: 100%;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        }
        .header_svg{
            display: inherit;
        }
    .heder{
        display: flex;
        align-items: center;
        justify-content: space-between;
        }
    .heder_nav {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    .heder_svg{
        margin-right: 52px;
    }
    .name_lang_list{
        display: flex;
    
    }
    
    .name_lang_item:first-child{
        display: flex;
        align-items: center;
    }
    .name_lang_item:first-child::after{
        content: "";
        width: 16px;
        height: 1px; 
        background-color: var(--graphite);
        display: block;
        transform: rotate(90deg);
    }
    .name_lang_item_black:first-child{
        display: flex;
        align-items: center;
    }
    .name_lang_item_black:first-child::after{
        content: "";
        width: 16px;
        height: 1px; 
        background-color: var(--white);
        display: block;
        transform: rotate(90deg);
    }
    .name_lang_btn:hover, .name_lang_btn:focus{
        color: var(--orange, #CD7829);
    }
    
    .name_lang_btn{
        border: none;
        background: transparent;
        color: var(--graphite);
        font-size: 16px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    }
    .name_lang_btn_black{
        border: none;
        background: transparent;
        color: var(--white);
        font-size: 16px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    }
    .active{
        color: #CD7829;
    }
    .header__id{
        color: var(--graphite, #272727);
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.06em;
        display: inherit;
    }
    .header__id_black{
        color: var(--white, #EEE);
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.06em;
        display: inherit;
    }
    .header__id_black:hover {
        color: var(--orange, #CD7829);
        text-decoration-line: underline;
    }
    .header__id:hover{
        color: var(--orange, #CD7829);
        text-decoration-line: underline;
        transition: 0.3s ease, visibility 0.3s ease;
    }
    .header__item:not(:last-child){
        margin-right: 34px;
    }


    .header-item-us{
        width: 80px;
    }
    /* .is_scrolled .header_wrapper{
        background-color: rgb(188 188 186);
        transition-duration: 1000ms;
        
        
    } */
    .scroll {
        box-shadow: none;
    }
    .header .container_header{
        max-width: 100%;
    }
    .heder_eror{
        padding-top: 20px;
        padding-bottom: 20px;
    }
        /* HERO */
    .section_contact {
            margin-top: 72px;
            padding: 20px 32px 40px;
            background-image: url(../images/tab/contact/contact1_1x.jpg);
    }
    .container_section_about{
        width: 638px;
        margin: 0;
        padding-left: 32px;
        padding-right: 32px;
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 522px;
    }
    .section-about-index{
        width: 586px;
        height: 610px;
        margin: 0;
        padding-left: 32px;
        padding-right: 32px;
        padding-top: 0px;
        padding-bottom: 0px;    
    }
    .foto{
        padding-top: 247px;
        height: 800px;
        background-image: url(../images/tab/tablet_hiro_1x.jpg);
    }
    .hero_name{
        font-size: 48px;
        letter-spacing: 0.06em;
    }
    .hero_block {
        max-width: 509px;
    }
    .hero_subtitle {
        font-size: 26px;
        letter-spacing: 0.04em;
    }
        /* ABOUT */
    .section_name {
            font-size: 48px;
            letter-spacing: 0.06em;
            
    }
    .section_name {
        padding-top: 40px;
        margin-bottom: 28px;
        
    }
    .section_about_text{
        margin-bottom: 44px;
    }
    /* ABOUT */
    .section_block{
        max-width: 590px;
    }
    .about-img-one{
        background-image:  url(../images/tab/about/tab_about_us1_1x.jpg);
        min-width: 529px;
        min-height:522px;
    }
    .about-picture-left{
        min-width: 555px;
        min-height: 100%;
        background-image:  url(../images/tab/about/tab_about_us2_1x.jpg);
    }
    .about-img-three{
        min-width: 530px;
        background-image:  url(../images/tab/about/tab_about_us3_1x.jpg);

    }
        /* SERVICE */
    .name_service {
        font-size: 48px;
        letter-spacing: 0.06em;
        padding: 28px 32px 0 0;
        margin-bottom: 40px;
    }
    
    .service_list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 28px 24px;
        }
    
    .box-picter-service{
        min-width: 44vw;
        min-height: 285px;
        
    
    }
    .foto-service{
        height: auto;
        margin-bottom: 0;
    }
    .service_conteiner_gradient {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        width: 101%;
        height: 110px;
        align-items: flex-end;
        justify-content: center;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #151515 75.95%);
    }
    .description-service{
        font-size: 16px;
        line-height: 1.5;
        padding-top: 25px;
        padding-left: 20px;
        padding-right: 20px;
    }
    /* BENEFITS */
    .benefits-cont-box{
        padding-top: 60px;
        padding-left:32px ;
        padding-right:32px ;
    }
    .benefits_name {
        font-size: 48px;
        letter-spacing: 0.06em;
        
    }
    .benefits_list {
        margin-top: 40px;
        gap: 20px;
        justify-content: space-between;
    }
    .benefits_item{
        width: 20.9vw;
    }
    /* PORTFOLIO */
    .portfolio_name {
        margin-bottom: 40px;
        font-size: 48px;
        letter-spacing: 0.06em;
    }
    .portfolio_text {
        font-size: 48px;
        letter-spacing: 0.06em;
        
    }
    /* FOOTHER */
    .foother-conteiner{
        padding: 40px 32px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.70),rgba(0, 0, 0, 0.70)), url(../images/tab/foother_tab_1x.jpg);
}
    
    .foother_blok_index{
        display: flex;
        align-items: stretch;
    }
    .modal-icon_tab{

        display: flex;
        flex-direction: column;
    }
    .feedback_name_index{
        color: var(--orange, #CD7829);
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: 0.05em;
        display: flex;
        justify-content: center;
    }
    .conteiner_address_icon_tab{
        padding-top: 52px;
        width: 354px;
        
    }
    .tab_conteiner_index{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .foother_tab_amster{
        display: flex;
        flex-direction: column;
    }
    
    /* ABOUT INDEX */
    .about_foto{
        background-image:linear-gradient(rgba(39, 39, 39, 0.80),rgba(39, 39, 39, 0.80)), url(#);   
    }
    .mission_section{
        width: 606px;
        min-height: 664px;
    }
    .conteiner-aboutus {
        width: auto;
        min-height: 528px;
    }
    .container_section_about_mission{
        padding: 0 32px 20px 0;

    }
    .conteiner-our-miss{
        max-width: 494px;
    }
    .conteiner-our-mission{
        max-width: 494px;
    }
    .section_name_us{
        font-size: 48px;
        letter-spacing: 0.06em;
    }
    
    .about_block{
        max-width: 558px;
        font-size: 20px;
        letter-spacing: 0.05em;
    }
    .conteiner-our-miss{
        max-width: 494px;
    }
    .section_block_mision{
        font-size: 20px;
        letter-spacing: 0.05em;
    }
    .foto_tab_about_mission{
        min-height: 664px;
    }

    .section_about_choose {
        
        margin-top: 0px;
    }
    .section_about_back {
        min-height: 522px;
        padding-top: 72px;
    }
    .section_name_us {
        
        margin-bottom: 20px;
        
    }
    .section_block:not(:last-child) {
        margin-bottom: 20px;
    }
    .section_block_mision:not(:last-child) {
        margin-bottom: 20px;
    }
    .container_section_about_chose{
        background-color: rgba(39, 39, 39, 0.8);
        width: 638px;
        margin: 0px;
        padding: 0px 32px;
    }
    .section_about_mision{
        margin: 0px;
    }
    .section_about_choose::before{
        display: none;
    }
    .section_about_back::before{
        display: none;
    }
    /* 404 INDEX */
    .eror_conteiner {
        height: 571px;
        display: flex;
        background-image: url(../images/tab/eror/tablet_eror_1x.jpg);
        align-items: center;
        flex-direction: column;
        margin-top: 72px;
        padding: 60px 120px 0;
    }
    .eror_name {
        font-size: 160px;
        letter-spacing: 0.006em;
    }
    .text_name{
        color: #000;
        font-size: 20px;
        line-height: 32px; /* 160% */
        letter-spacing: 0.05em;
    }
    .text_name_parahraf .text_name_parahrafs{
        font-size: 20px;
        letter-spacing: 0.05em;
    }
    /* REVIEW INDEX */
    .review-cont-section{
        margin: 0 32px;
    }
    .review_modal{
        top: 98px;
        width: 700px;
        padding: 30px 40px;
    }
    .write_menu_name {

        flex-direction: row;
    }
    .review_text{
        gap:  8px;
    }
    .tab_box_review{
        display: flex;
        flex-direction: row-reverse;
        margin-top: 72px;
    }
    .section_button_reviews {
        margin-top: 0; 
    }
    .reviews_name { 
        margin-bottom: 48px;
    }
    .review_label_cont{
        margin-top: 12px;
    }
    .review_label_name{
        font-size: 20px;
        letter-spacing: 0.05em;
        margin-bottom: 12px;
    }
    .upload_file_box{
        font-size: 20px;
        letter-spacing: 0.05em;
        margin-bottom: 24px;
    }
    .write_menu_name{
        font-size: 48px;
        letter-spacing: 0.06em;
    }
    .mob_close_button_review {
        top: 30px;
        right: 35px;
    }
    .textarea_review {
        height: 307px;
    }
    .review_label_cont {
        width: 189px;
        height: 191px;
    }
    .review_label_upload {
        font-size: 20px;
        letter-spacing: 0.05em;
    }
    .simple-rating{
        font-size: 50px;
        display: flex;
        justify-content: flex-start;
        margin-bottom: 24px;
    }
    .simple-rating-items{
        justify-content: flex-end;
    }
    .group-wrapper {
        min-width: 275px;
        height: 108px;
    }
    .customer{
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 60px;
        line-height: normal;
        letter-spacing: 0.02em;
        color: var(--white);
        width: 90px;
        height: 90px;
        transform: translateY(10%);
    }
    .date{
        font-size: 20px;
    }
    .name{
        font-size: 20px;
    }
    .text-review {
        padding: 20px 0;
        font-size: 20px;
    }
    /* CONTACT INDEX */
    .contact_name {
        font-size: 48px;
        letter-spacing: 0.06em;
        margin-bottom: 40px;
    }
    @media screen and (min-width: 768px) and (max-width: 945px) {
        .contact_name {
            font-size: 39px;
 
        }
    }
    .icon-person {
        width: 590px;
    }
    .feedback-textarea {
        width: 590px;
    }
    .address_social_contact {
        font-size: 20px;
        letter-spacing: 0.05em;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    .address_social_contact-phone{
        font-size: 20px;
        letter-spacing: 0.05em;
        display: flex;
        align-items: center;
        flex-direction: row;

    }
    .address_link_contact {
        font-size: 20px;
        letter-spacing: 0.05em;
        margin-left: 10px;
    }
    .contact_section_conteiner {
        margin-bottom: 60px;
    }
    .adderss_copyright{
        font-size: 16px;
        letter-spacing: 0.06em;
    }
    
    .foother_text {
        font-size: 16px;
        letter-spacing: 0.06em;
        max-width:498px;
    }
    .address_button{
        margin-bottom: 40px;
    }
    .button-consu{
        display: none;
    }
   
    @media screen and (min-width: 768px) and (max-width: 830px) {
        .header__item:not(:last-child) {
            margin-right: 20px;
          }
      }
    @media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx){
    .foto {
        background-image: url(../images/tab/tablet_hiro_2x.jpg);
    }
    .about-img-one{
        background-image:  url(../images/tab/about/tab_about_us1_2x.jpg);
    }
    .about-picture-left{
        background-image:  url(../images/tab/about/tab_about_us2_2x.jpg);
    }
    .about-img-three{
        background-image:  url(../images/tab/about/tab_about_us3_2x.jpg);
    }
    .section_contact {
        background-image: url(../images/tab/contact/contact1_2x.jpg);
    }
}  
    @media (min-device-pixel-ratio: 3),
(min-resolution: 300dpi),
(min-resolution: 3dppx){
    .foto {
        background-image: url(../images/tab/tablet_hiro_4x.jpg);
    }
    .about-img-one{
        background-image:  url(../images/tab/about/tab_about_us1_4x.jpg);
    }
    .about-picture-left{
        background-image:  url(../images/tab/about/tab_about_us2_4x.jpg);
    }
    .about-img-three{
        background-image:  url(../images/tab/about/tab_about_us3_4x.jpg);
    }
    .section_contact {
        background-image: url(../images/tab/contact/contact1_4x.jpg);
    }
}
@media (max-height: 430px) {
    /* Стилі для вікон шириною або висотою до 430px */
    .header{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .header-us{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .section_contact {
        margin-top: 52px;
        padding: 20px 32px 40px;
    }
    .header__item:not(:last-child) {
        margin-right: 16px;
      }
      .section_about_back {
        padding-top: 52px;
    }
    /* hero section index  */
    .foto{
        background-position: center -220px;
        padding-top: 150px;
        height: 500px;
    }
    .section_name {
        padding-top: 20px;
        margin-bottom: 18px;
    }
    .section_name {
        font-size: 38px;
        letter-spacing: 0.06em;
    }
    .section_about_text {
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.05em;
        margin-bottom: 18px;
    }
    .section-about-index {
        height: 410px
    }
    .about_section{
        position: relative;
    overflow: hidden;
    }
    .name_service {
        font-size: 38px;
        letter-spacing: 0.06em;
        padding: 20px 32px 0 0;
        margin-bottom: 18px;
    }
    .box-picter-service{
        min-height:auto;
        height:230px;
    }
    .service_conteiner_gradient {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex
;
        width: 101%;
        height: 70px;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #151515 75.95%);
        
    }
    .description-service p{
        font-size: calc(8px + 0.8vw);
    }
    .benefits_name {
        font-size: 38px;
        letter-spacing: 0.06em;
    }
    .benefits-cont-box {
        padding-top: 20px;
    }
    .portfolio_name {
        margin-bottom: 38px;
        font-size: 38px;
        letter-spacing: 0.06em;
    }
    .portfolio {
        padding-top: 30px;
    }
    .portfolio_img{
        height: 300px;
    }
    .portfolio_text {
        font-size: 38px;
        letter-spacing: 0.06em;
    }

}
@media screen and (min-width: 800px){
    .description-service{
        font-size: calc(10px + 0.8vw);

    }

}
@media screen and (min-width: 900px){
    .section-about-index{
        width: 786px;
    }
    .foto {
        background-image: url(../images/tab/tablet_hiro_4K.jpg);
    }
    .eror_conteiner  {
        background-image: url(../images/tab/eror/tablet_eror_4k-1.jpg);
    }
    .section_contact {
        background-image: url(../images/tab/contact/contact1_4k-1.jpg);
    }

}
@media screen and (min-width: 1000px){
    /* .benefits_item{
        width: 210px;
    } */
    .container_section_about{
        width: 740px;
    }
    .container_section_about_chose{
        width: 740px;
    }
    .mission_section{
        width: 740px; 
    }
    .section-about-index{
        width: 886px;
    }
    .eror_conteiner  {
        background-image: url(../images/tab/eror/tablet_eror_4k-2.jpg);
    }
    .section_contact {
        background-image: url(../images/tab/contact/contact1_4k-2.jpg);
    }

}
@media screen and (min-width: 1200px){
    /* .benefits_item{
        width: 260px;
    } */
    .container_section_about{
        width: 860px
    }
    .container_section_about_chose{
        width: 860px;
    }
    .mission_section{
        width: 860px; 
    }
    .foto {
        background-image: url(../images/tab/tablet_hiro_4K_2.jpg);
    }
}
@media screen and (min-width: 1300px){
    .container_section_about{
        width: 960px
    }
    .container_section_about_chose{
        width: 960px;
    }
    .mission_section{
        width:960px; 
    }
}}